<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD75nEizdGLq3Me9XAbkSU9Ij_WTuJ8wyg</string>
	<key>GCM_SENDER_ID</key>
	<string>578558823141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordix</string>
	<key>PROJECT_ID</key>
	<string>wordix-4d75c</string>
	<key>STORAGE_BUCKET</key>
	<string>wordix-4d75c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578558823141:ios:9536deb1a43f8126f4e20c</string>
</dict>
</plist>